.bgd-main {
  background-color: $bgd-main;
}

.bgd-primary {
  background-color: $bgd-primary;
}

.bgd-secondary {
  background-color: $bgd-secondary;
}

.bgd-light {
  background-color: $bgd-light;
}

.bgd-grey {
  background-color: $bgd-grey;
}

.bgd-grey-2 {
  background-color: $bgd-grey-2;
}
