/**
  BUTTON
 */
.bttn {
  font-size: 12rem;
  font-weight: bold;
  padding: 0 21rem;
  height: 40px;
  border: none;
  border-radius: 150px;
}

.bttn-primary {
  background-color: $bttn-primary;
}

.bttn-secondary {
  background-color: $bttn-secondary;
}

.bttn-dark-1 {
  background-color: $bttn-dark-1;
}

.bttn-dark-2 {
  background-color: $bttn-dark-2;
}

.bttn-white {
  background-color: $bttn-white;
}

.bttn-small {
  min-width: 91rem;
}

.bttn-medium {
  min-width: 133rem;
}

.bttn-large {
  min-width: 140rem;
}
