.text-dark-1 {
  color: $text-dark-1;
}

.text-dark-2 {
  color: $text-dark-2;
}

.text-blue {
  color: $text-blue;
}

.text-grey {
  color: $text-grey;
}

.text-invalid {
  color: $text-invalid;
}

.text-valid {
  color: $text-valid;
}

.text-white {
  color: $text-white;
}
