.border {
  border: 1px solid;
}

.border-grey-1 {
  border-color: $border-grey-1;
}

.border-grey-2 {
  border-color: $border-grey-2;
}

.border-invalid {
  border-color: $border-invalid;
}

.border-valid {
  border-color: $border-valid;
}
