<app-ui-header></app-ui-header>

<section class="edition">
  <div>
    <div>
      <input type="text" placeholder="Nom de la leçon...">
      <button class="bttn bttn-dark-1 text-white">Enregistrer</button>
    </div>
    <h2>Lesson 1</h2>
  </div>

  <div>
    <video controls width="100%" src=""></video>
    <button class="bttn bttn-primary text-white">Modifier</button>
    <button class="bttn bttn-secondary text-white">Supprimer</button>
  </div>

  <div class="content">
    <div class="content__content">
      <div>
        <h2>Nom formation</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet aperiam consequatur, cum dicta dolor dolorum eaque enim excepturi expedita facere facilis fuga ipsa modi nihil obcaecati quis recusandae reprehenderit repudiandae saepe soluta sunt vero. Eum molestias mollitia nihil!</p>
      </div>
      <div class="content__content__image">
        <img src="assets/some-image.png" alt="image">
      </div>
    </div>

    <div>
      <button class="bttn bttn-primary text-white">Modifier</button>
      <button class="bttn bttn-secondary text-white">Supprimer</button>
    </div>
  </div>

  <div>
    <h3>Contenu</h3>
    <form>
      <input type="text" placeholder="Titre...">
      <input type="text" placeholder="Contenu...">
      <span>Couleur de fond</span><input type="text" placeholder="#KM36PI...">
      <button class="bttn bttn-dark-1 text-white">Enregistrer</button>
    </form>

    <div>+ ajout image</div>
    <div>
      <span>Positionnement image</span>

      <span class="pointer">
        <input type="checkbox" name="left" id="left">
        <label for="left">Gauche</label>
      </span>

      <span class="pointer">
        <input type="checkbox" name="right" id="right">
        <label for="right">Droite</label>
      </span>
    </div>
  </div>

  <div>
    <h3>Quiz</h3>
    <form>
      <input type="text" placeholder="Titre quiz...">
      <input type="text" placeholder="Question...">

      <input type="text" placeholder="Réponse 1...">
      <input type="text" placeholder="Réponse 2...">

      <label class="input-container">Two
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <span class="pointer">
        <input type="checkbox" name="answer1" id="answer1">
        <label for="answer1">Bonne réponse</label>
        <span class="checkmark"></span>
      </span>

      <span class="pointer">
        <input type="checkbox" name="answer2" id="answer2">
        <label for="answer2">Bonne réponse</label>
      </span>

      <input type="text" placeholder="Réponse 3...">
      <span class="pointer">
        <input type="checkbox" name="answer3" id="answer3">
        <label for="answer3">Bonne réponse</label>
      </span>

      <hr>
      <button class="bttn bttn-primary text-white">+ ajouter réponse</button>

      <button class="bttn bttn-dark-1 text-white">Enregistrer</button>
    </form>
  </div>

  <div>
    <h3>Vidéo</h3>
    <form>
      <input type="text" placeholder="Titre vidéo...">

      <div class="custom-dropzone ngx-dropzone">
        <ngx-dropzone (change)="onSelect($event)">
          <ngx-dropzone-label>drop</ngx-dropzone-label>
          <ngx-dropzone *ngIf="file">
            <ngx-dropzone-label>{{file.name}} {{file.type}}</ngx-dropzone-label>
          </ngx-dropzone>
        </ngx-dropzone>
      </div>

      <button class="bttn bttn-dark-1 text-white">Enregistrer</button>
    </form>
  </div>

  <div>
    <h3>+ ajout du contenu de leçon</h3>
    <div>
      <button class="sqr-bttn bttn-primary text-white">Contenu</button>
      <button class="sqr-bttn bttn-primary text-white">Quiz</button>
      <button class="sqr-bttn bttn-primary text-white">Vidéo</button>
    </div>
  </div>
</section>
